
*.bak

~$*

*.pdf

*.aux

*.log

*.gz

*.out

*.toc

*.synctex(busy)

*/board/program

**/db/

*.qws

*.qdf

**/incremental_db/

**/output_files/

**/simulation/

**/greybox_tmp/

**/sim/

**/c5_pin_model_dump.txt

lab_04/examples/

*.wlf

**/work/

**/transcript

**/_info
